.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.search {
    background-color: rgba(46, 139, 86, 0.076);
    border-radius: 10px;
    margin-bottom: 50px;
}

.button {
    display: block;
    width: 100%;
    padding: 5px;
    border: none;
    background-color: rgba(128, 128, 128, 0.227);
    margin-bottom: 10px;
}

.acept {
    font-weight: bold;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 128, 0, 0.227);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        color: white;
        background-color: rgba(15, 49, 15, 0.755);
    }
}

.form {
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 20px;
    width: 400px;
    border: 1px solid gray;
}
.centerTitle {
    text-align: center;
}

.match {
    box-sizing: border-box;
}

.tour {
    font-size: 30px;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 128, 0, 0.289);
    padding: 20px;
    border-bottom: 1px solid gray;
}

.day {
    font-style: italic;
    padding-left: 30px;
    background-color: rgba(26, 84, 26, 0.248);
}

.finished,
.versus {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid gray;
    background-color: rgba(128, 128, 128, 0.481);

    span {
        font-weight: bold;
    }
}

.simpleForm {
    margin-bottom: 40px;
}

.versus {
    background-color: rgba(255, 0, 0, 0.22);
}

@media screen and (max-width: 1024px) {
    .form {
        width: 320px;
    }
}
